<% layout("/layouts/biolerplate.ejs") %>


<body>
  <div class="w-full h-[70vh] bg-zinc-900 flex flex-col gap-4 justify-center item-center p-10  lg:h-screen ">
    <h1 class="text-5xl text-blue-600 text-center font-bold ">Welcome to MyBook.com</h1>
   
    <div class="flex">
      <div class="  ">
        <img class="" src="https://imgs.search.brave.com/Z9JCdcmzYDOZXjJ4gkI7OkoV49EBmuwEpV_i2XvnnnI/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMtbmEuc3NsLWlt/YWdlcy1hbWF6b24u/Y29tL2ltYWdlcy9J/LzgxTURkYlloLThM/LmpwZw" alt="">
      </div>
      <div class="">
        <img src="https://imgs.search.brave.com/a-_uz_vMqhHM01a2UtxODEuFv8I-SuhhFSrplyGCV_k/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuc3F1YXJlc3Bh/Y2UtY2RuLmNvbS9j/b250ZW50L3YxLzVh/YWRjNjQwMjcxNGU1/NTQ1OGYxZjViNi8x/NTQxNjM2NzMxMTQ3/LVVKWDdTSU1PRzYz/OUMwVDlPVjdRL1do/ZXJlLXRoZS1DcmF3/ZGFkcy1TaW5nLTMt/MTUwMC5qcGc" alt="">
      </div>
      <div class="">
        <img src="https://imgs.search.brave.com/PwNzcXID8D3ql26T-MqId57eSwswSziEpeFESwb6XVU/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90aGUt/YmlibGlvZmlsZS5j/b20vY292ZXJzL3Np/bGVudHBhdGllbnQu/anBn" alt="">
      </div>
      <div class=" ">
        <img src= "https://imgs.search.brave.com/WmbWdkXlmQNQWHTHoQbjr3dTAisZpM-iGTmWmGe33EQ/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMtbmEuc3NsLWlt/YWdlcy1hbWF6b24u/Y29tL2ltYWdlcy9J/LzcxWFh6bHJWMktM/LmpwZw" alt="">
      </div>
      <div class="">
        <img src= "https://imgs.search.brave.com/VSI7DJftuEEWZhI9JwtAbn1tlj6daeX0fUl4sNCdbjo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pLnRo/cmlmdGJvb2tzLmNv/bS9hcGkvaW1hZ2Vo/YW5kbGVyL20vRkFC/RkE5NUE2NDE1NzM5/Mjc3RDExREI1NDND/RjBCNjUxRjQwMjhF/Ny5qcGVn" alt="">
      </div>
      <div class="">
        <img src="https://imgs.search.brave.com/VhZrErBgn7SFLILBdR1_tEXzbFs2C2xtrNLuPHrdxPg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NDFOTTE3YWRycEwu/anBn" alt="">
      </div>
      <div class=" ">
        <img src= "https://imgs.search.brave.com/Iwk6hfQsrE_49tM13zLGq2pKa3cCzF6Q4vS3qYEwTJA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuYm9va3NlbnNl/LmNvbS9pbWFnZXMv/NTI4LzU5MC85Nzgw/Mzk5NTkwNTI4Lmpw/Zw" alt="">
      </div>
    </div>
    <p class="text-center text-sm text-white text-medium sm:w-4/5 mx-auto">Discover your next great read at MyBook.com—your ultimate online bookstore where passion for literature meets convenience. Whether you're a lifelong bibliophile or a casual reader, we have something for everyone.</p>
  </div>

</body>