<% layout("/layouts/biolerplate.ejs") %>

<body >
  
 <div class="w-full h-screen bg-zinc-900 flex flex-col justify-center	 items-center gap-10 p-5 sm:p-1">
  <h1 class="text-centre text-blue-500 font-bold text-2xl tracking-tighter sm:text-4xl  ">Login to MyBook.com</h1>
  <form class="bg-zinc-900 flex flex-col justify-center	 items-center gap-10 p-5 sm:p-1" action="/login" method="post">

  <div  class="flex gap-5 justify-center	 items-center">

    <label class="text-white mx-2 font-semibold mx-4" for="email">Email </label>
    <input class=" outline-none rounded-lg bg-zinc-600 text-white px-3 py-1 mx-1" type="email" name="email" id="email" placeholder="Enter email" >
  </div>

  <div  class="flex gap-5 justify-center	 items-center">
    
      <label class="text-white mx-2 font-semibold " for="password">Password</label>
      <input class=" outline-none rounded-lg bg-zinc-600 text-white px-3 py-1" type="password" name="password" id="password" placeholder="Enter password" >

  </div>
  
    <button class="px-3 py-1 rounded-lg bg-blue-500 text-white font-semibold" type="submit">Login</button>
  </form>
  <a class="text-sm text-blue-500 underline" href="http://localhost:8000/signup">Signup?</a>
 </div>
</body>