

<% if(success&& success.length){ %> 
  <div class="alert alert-info  alert-dismissible  fade show  left-1/2 -translate-x-[50%] z-100 absolute top-0 w-1/3 h-14 flex items-center justify-center font-bold " role="alert">
    <%= success %>
    <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <% } %>

  <% if(error&& error.length){ %> 
    <div class="alert alert-danger  alert-dismissible fade show left-1/2 -translate-x-[50%] z-100 absolute top-0 w-1/3 h-14 flex items-center justify-center font-bold" role="alert">
      <%= error %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <% } %>


