<footer class="flex flex-col items-center justify-center gap-10 bg-zinc-800 p-2">
  <div class="f-info">
    <div class="f-info-social mb-2 flex items-center justify-start gap-3">
      <i class="fa-brands fa-facebook text-2xl text-blue-300"></i>
      <i class="fa-brands fa-instagram text-2xl text-blue-300"></i>
      <i class="fa-brands fa-linkedin text-2xl text-blue-300"></i>
      <i class="fa-brands fa-twitter text-2xl text-blue-300"></i>
    </div>
    <div class="f-info-brand mb-2 text-blue-500">&copy; Mybook Private Limited</div>
    <div class="f-info-links mb-2 text-blue-500">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>